
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

.container {
    width: 900px;
    margin: 0 auto;
}


.pain-area {
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FF6347; 
}

.pain-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.pain-area h1 {
    z-index: 1;
    margin-top: 400px;
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 0 0 10px #FF4500, 0 0 20px #FF6347, 0 0 30px #FF6347, 0 0 40px #FF4500;
    animation: burningText 2.5s infinite alternate;
}


.pain-history {
    background-color: #1C1C1C; 
    color: #FFf; 
    padding: 20px;
    border-top: 5px solid #FF6347;
    position: relative;
    animation: fadeIn 2s ease-in-out;
}

.pain-history h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.pain-history p {
    line-height: 1.6;
}


.call-to-action {
    background-color: #FF6347; 
    color: #1C1C1C; 
    padding: 30px;
    text-align: center;
    animation: slideInFromLeft 1.5s ease-in-out;
}

.call-to-action h2 {
    margin: 0;
    font-size: 1.8em;
}

.call-to-action button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #1C1C1C;
    color: #FF6347;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.call-to-action button:hover {
    background-color: #000;
}

/* Keyframes */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes burningText {
    0% {
        text-shadow: 0 0 10px #FF4500, 0 0 20px #FF6347, 0 0 30px #FF6347, 0 0 40px #FF4500;
        color: #FFF;
    }
    100% {
        text-shadow: 0 0 20px #FF6347, 0 0 30px #FF4500, 0 0 40px #FF6347, 0 0 50px #FF4500;
        color: #FFF;
    }
}
